<form action="/expert" method="post">

  <div class="form-group">

    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">健康運動系科目</label>
      <input type="number" pattern="\d*" name="health">
    </div>

    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">人文系科目</label>
      <input type="number" pattern="\d*" name="humanity">
    </div>

    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">社会系科目</label>
      <input type="number" pattern="\d*" name="society">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">自然系科目</label>
      <input type="number" pattern="\d*" name="nature">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">総合</label>
      <input type="number" pattern="\d*" name="synthesis">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">琉大特色科目</label>
      <input type="number" pattern="\d*" name="ryudai">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">情報関係科目</label>
      <input type="number" pattern="\d*" name="information">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">第１外国語</label>
      <input type="number" pattern="\d*" name="language1">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">第２外国語</label>
      <input type="number" pattern="\d*" name="language2">
    </div>
    <input type="submit" class="btn btn-dark" value="次へ">

  </div>

</form>