<p>単位数を入力してください</p>
<form action="/expert" method="post">

  <div class="form-group">

    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">健康運動：</label>
      <input type="number" pattern="\d*" name="health">
    </div>

    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">人文：</label>
      <input type="number" pattern="\d*" name="humanity">
    </div>

    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">社会：</label>
      <input type="number" pattern="\d*" name="society">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">自然：</label>
      <input type="number" pattern="\d*" name="nature">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">総合：</label>
      <input type="number" pattern="\d*" name="synthesis">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">琉大特色：</label>
      <input type="number" pattern="\d*" name="ryudai">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">情報科学演習：</label>
      <input type="number" pattern="\d*" name="information_science">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">情報関係（他）：</label>
      <input type="number" pattern="\d*" name="information">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">英語：</label>
      <input type="number" pattern="\d*" name="English">
    </div>
    <div class="label-wrapper">
      <label class="labels" for="exampleFormControlSelect1">外国語（その他）：</label>
      <input type="number" pattern="\d*" name="foreign-_anguage">
    </div>
    <input type="submit" class="btn btn-dark" value="次へ">

  </div>

</form>