<div class="box1">
<h1>ソツマデ<br>スイッチ</h1>
</div>
<div class="box2">
<p class="description">　ソツマデスイッチは、琉球大学、産業経営学科（15年入学者）の卒業までの残り単位を計算するアプリです。
  <br>　成績表を見ながら、入力していく想定で作っています。参考程度に試してみてね！</p>
</div>
<button onclick="location.href='/general'" type="button" class="btn btn-dark">Swich on!</button>