<h1>ソツマデ<br>スイッチ</h1>
<div class="description">
  <p>　ソツマデスイッチは、成績表の単位を卒業要項に照らし合わせるアプリです。
    <br>　成績表と卒業要件って、書き方違っていて照らし合わせるの面倒くさい。
    <br>　自分で計算しても合っているか分からない。
    そんな人もいるかと思いまして、暇なので作ってみました。
    <br>　成績表を見ながら、入力していく想定で作っています。参考程度に試してみてね！</p>
</div>
<button onclick="location.href='/general'" type="button" class="btn btn-dark">Switch on!</button>