.container {
    padding: 80px 20px 250px 20px;
    text-align: center;
    background-color: #00DD00;
}
h1 {
    padding: 20px;
    color: yellow;
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    border: solid 3px black; /*線*/
    border-radius: 10px; /*角の丸み*/
    display: inline-block;
}
h2 {
    padding: 20px;
    font-family: 'Kosugi Maru', sans-serif;
}

.description {
    color: black;
    padding: 50px 10px 70px 10px;
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
}
.label-wrapper {
    text-align: center;
}
.labels {
    display: inline-block;
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: large;
    color: yellow;
    margin-top: 50px;
}
input[ type="number" ] {
    width: 50px;
}
input[ type="submit" ].expert {
    float: right;
    margin-left: 35px;
}
.input-units-labels {
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    color: yellow;
    font-size: large;
}
.btn {
    margin-top: 30px;
    font-weight: bold;
    color: yellow;
    background-color: #00DD00;
    border-width: medium;
}
.button-wrapper {
    text-align: center;
    display: inline-block;
}
.return-button {
    float: left;
    margin-right: 35px;
}
.decision-button {
    float: right;
    margin-left: 35px;
}