.container {
    padding: 80px 20px 250px 20px;
    text-align: center;
    background-color: mediumspringgreen;
}

h1 {
    padding: 20px;
    color: yellow;
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    border: solid 3px black;/*線*/
    border-radius: 10px;/*角の丸み*/
    display: inline-block;

}
.description {
    color: black;
    padding:50px 10px 100px 10px;
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;

}

.labels {
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: x-large;
    color: yellow;
    margin-top: 50px;

}
.btn {
    margin-top: 100px;
    font-weight:bold;
    color: yellow;
    background-color: mediumspringgreen;
    border-width: medium;
}
